<template>
  <v-ons-toolbar>
    <div class="center" @click="$router.push({ name: 'Index' })">{{ title }}</div>
  </v-ons-toolbar>
</template>

<script>
  export default {
    data() {
      return {
        title: 'Bag Team Restaurant',
      }
    },
  }
</script>
