<template>
  <section :class="$style.buttons">
    <v-ons-button @click="login('google')">
      Login with Google
    </v-ons-button>
  </section>
</template>

<script>
  import firebase from 'firebase'

  const googleProvider = new firebase.auth.GoogleAuthProvider()

  export default {
    methods: {
      login(type) {
        switch (type) {
          case 'google': {
            firebase.auth().signInWithPopup(googleProvider).then((result) => {
              // This gives you a Google Access Token. You can use it to access the Google API.
              const token = result.credential.accessToken
              // The signed-in user info.
              const user = result.user

              this.$store.commit('setUserIsAuthenticated', true)

              this.$router.push({ name: 'Index' })
            }).catch((error) => {
              // Handle Errors here.
              const errorCode = error.code
              const errorMessage = error.message
              // The email of the user's account used.
              const email = error.email
              // The firebase.auth.AuthCredential type that was used.
              const credential = error.credential
              // ...
            })

            break
          }
        }
      },
    },
  }
</script>

<style module>
  .buttons {
    text-align: center;
  }
</style>
