.header {
  display: flex;
  padding-top: 122px;
  justify-content: center;

  h1 {
    margin: 0px;

    font-family: Lato Heavy;
    font-size: 32px;
  }
}

.line {
  display: flex;
  justify-content: center;

  .input-box {
    display: flex;
    justify-content: center;

    border-bottom: 2px solid black;

    input {
      width: 240px;
      height: 46px;

      background: none;

      border: none;
      outline: none;
    }
  }

  button {
    width: 240px;
    height: 46px;

    background: none;
    border: none;
    outline: none;

    background: black;

    font-family: Lato;
    font-size: 18.75px;

    color: white;

    cursor: pointer;
  }

  &.button-line {
    padding-top: 75px;
  }
}
