<template>
  <v-ons-page id="app">
    <title-component />

    <router-view />
  </v-ons-page>
</template>

<script>
  import TitleComponent from './components/Title'

  export default {
    name: 'app',

    components: {
      TitleComponent,
    },
  }
</script>
