<div class="outter-wrapper">
  <div class="tables">
      <div class="table" [class.active]="table.avail === false" *ngFor="let table of tables; let i = index">{{i}}</div>
  </div>
  <div class="info">
    <div class="line">
      <div class="block" data-title="greenyellow">Available</div>
    </div>
    <div class="line">
      <div class="block" data-title="orange">Select</div>
    </div>
    <div class="line">
      <div class="block" data-title="black">
        Has been booked
      </div>
    </div>
  </div>
</div>
