.outter-wrapper {
  display: flex;
  flex-flow: column nowrap;

  width: 100%;
  height: 100%;
}

.tables {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  padding: 20px;

  flex: 1 1 auto;

  .table {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    margin: 10px;

    font-family: Lato Heavy;
    font-size: 16px;

    background: black;
    color: white;

    cursor: pointer;

    &.active {
      background: yellowgreen;
      color: black;
    }

    &.active:hover {
      background: gold;
      color: black;
    }
  }
}

.info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  .line {
    display: flex;
    flex-flow: row nowrap;

    margin: 2.5px;

    .block {
      font-family: Lato;
      font-size: 16px;

      &::before {
        content: "";
        display: block;
        width: 40px;
        height: 40px;

        background: black;
      }
    }
  }
}
