<template>
  <section>
    <v-ons-list>
      <v-ons-list-header>
        Tables
      </v-ons-list-header>

      <v-ons-list-item
        v-for="(table, index) in tables"
        :style="{ backgroundColor: table.avail ? 'white' : 'grey' }"
        :key="table.uuid"
      >
        {{ index + 1 }}.
        Floor: {{ table.floor }}
      </v-ons-list-item>
    </v-ons-list>
  </section>
</template>

<script>
  import { db } from '../../firebase'

  export default {
    data() {
      return {
        tables: [],
      }
    },

    mounted() {
      this.$bindAsArray('tables', db.ref('tables'))
    },
  }
</script>
